:root {
  --fs-xl: 7.3vw;
  --fs-600: 1.7vw;
  --fs-500: 5rem;
  --fs-400: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "aileron", sans-serif;
  font-display: fallback;
  background-color: #141414;  
}

.hero {
  background: url("../images/intro_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 51.5% 80%;
  height: 100vh;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 9rem;
  left: 10.2vw;
  width: 13rem;
  height: auto;
}

.hero h1, h2,
p {
  margin: 1.5rem 1rem 0 3rem;
  position: relative;
  top: 18rem;
}

.hero h1 {
  color: white;
  font-size: var(--fs-xl);
}

.hero p {
  font-weight: bold;
  color: #9b9b9b;
  font-size: var(--fs-600);
  letter-spacing: 0.25rem;
  font-weight: bold;
}

button {
  padding: 0.35em 1.2em;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  transition: all 0.3s;
}


.lan_button {
  position: absolute;
  top: 20px;
  left: 50px;
}

.lan_button :hover {
  color: lightslategray;
}

@media (max-width: 40em) {
  :root {
    --fs-xl: 15vw;
    --fs-600: 5vw;
  }


}



.me_posing {
  margin: 3rem 10rem 0 0rem ;
  width: clamp(27rem, 70vw, 45rem); 
  height: auto;
  position: relative;
  left: 5vw;
  top: 2vw;
  float: left;
}

.about_me {
  width: clamp(28rem, 80vw, 90rem); 
  position: relative;
  left: 2vw;
  bottom: 2vw;
}


.me h2 {
  font-size: var(--fs-500);
}

.me p {
  font-size: var(--fs-400);
  margin-top: 2rem;
}


p,
h2,
article {
  color: white;
}

.contact {
  color: white;
}

.contact a {
  color: white;
  text-decoration: none;
}
